/* .move{
 padding-top: 2%;
 margin-top: 2%;
} */
.yeses{
  font-size: 25px;
  padding-top: 23%;
  margin-top: 23%;
}


.moveTwo{
 padding-top: 15%;
 margin-top: 15%;
}
.firstHeading{
  font-size: 25px;
}
.headingThree{
  font-size: 25px;
  padding-top: 30%;
  margin-top: 30%;
}

/* .imageTwo{
  padding-top: 1%;
  margin-top: 1%;
} */


.moveThree{
 padding-top: 22rem;
 margin-top: 22rem;
}

.headingFour{
  font-size: 25px;
  padding-top: 40%;
  margin-top: 40%;
}


.moveFour{
  padding-top: 25rem;
  margin-top: 25rem;
}

.headingFive{
  font-size: 25px;
  padding-top: 40%;
  margin-top: 40%;
}
